<div class="container">
  <h1> My Bookings : <%= current_user.email %></h1>
  <% @bookings.each do |booking| %>
    <div class="panel panel-default">
      <div class="panel-heading"><%= booking.spaceship.title %></div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-4">

              <div class="banner-booking" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= booking.spaceship.photo %>);">
              </div>
            </div>

            <!---------------------------- MODAL ------------------------->
            <div class="col-md-8">
              <p><strong> Dates </strong> : <%= booking.start_at%> to <%= booking.end_at %></p>
            <% if booking.review == nil %>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                Add a Review
              </button>

                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Your Review</h4>
                      </div>
                      <div class="modal-body">
                      <%=  render 'reviews/new', url: booking_reviews_path(booking), booking: booking  %>
                      </div>
                    </div>
                  </div>
                </div>
<!------------------------- MODAL END ----------------------------------------->

            <% else %>

              <p><strong> My Review </strong> : <%= booking.review %></p>
              <p><strong> My Rating </strong> : <%= booking.rating %></p>
            <% end %>
            <%= link_to "See spaceship", spaceship_path(booking.spaceship_id), class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>





