<div class="banner-index" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://i.imgur.com/O49r42B.jpg);">
  <div class="container">
    <h1>SNASA</h1>
    <p>Snail National Aeronautics and Space Administration</p>
      <%= link_to "Come with us", new_user_registration_path, :class => "btn btn-ghost" %>
  </div>
</div>


<div class="container">
  <div class="row">
    <% @spaceships.each do |spaceship| %>
      <div class="col-xs-12 col-sm-4">
        <%= link_to spaceship_path(spaceship) do %>
            <div class="card-trip">
              <img src="http://www.igorstshirts.com/blog/conceptships/fred_bastide.jpg">
              <div class="card-trip-infos">
                <div>
                  <h2><%= spaceship.title %></h2>
                  <p><%= spaceship.seat %> places</p>
                </div>
                <h2 class="card-trip-pricing"><%= spaceship.price_per_day %> €</h2>
              </div>
            </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>


